[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
black = "==19.10b0"
jedi = "*"
rope = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[packages]

[requires]
python_version = "3.9"
